<pre><code>logsmoe(1)                    logs.moe                    logsmoe(1)

NAME
    share secure logs from the command line

SYNOPSIS
    <samp>$ curl <%- BASE_URL %> --data-binary 'hello world'</samp>
    you can also paste or drag files to this page

DESCRIPTION
    works better with text
    limited to 20MiB
    everything are encrypted
    decryption only on browser
    no data or logs are collected

EXAMPLES
    <samp>$ curl <%- BASE_URL %> --data-binary @debug.log</samp>
    <samp>$ git diff --staged | curl <%- BASE_URL %> --data-binary @-</samp>
    add to your .profile
    <samp>$ logsmoe() { curl <%- BASE_URL %> --data-binary "@${1:--}"; }</samp>
    use with file or stdin
    <samp>$ logsmoe debug.log</samp>
    <samp>$ git diff --staged | logsmoe</samp>

SEE ALSO
    <a href="https://github.com/fabricionaweb/logs.moe" rel="noreferrer">https://github.com/fabricionaweb/logs.moe</a>
</code></pre>

<script type="module" src="/home.mjs"></script>
