<!DOCTYPE html>
<html>
<head>
<title>logs.moe</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📃</text></svg>" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&display=swap" />
<link rel="stylesheet" href="/styles.css" />
<script type="module" src="/home.mjs"></script>
</head>
<body><pre><code>Share encrypted logs without leaving terminal

from file
  <samp>$ curl https://logs.moe -F data=@debug.log</samp>
from stdin
  <samp>$ cat debug.log | curl https://logs.moe -F data=@-</samp>
alias (file or stdin)
  <samp>logsmoe() { curl https://logs.moe -F data="@${1:--}"; }
  $ logsmoe debug.log
  $ git diff --staged | logsmoe</samp>

- Only accepts form-data and field name "data"
- Upload size limited to 20MiB
- Anything is deleted in 7 days
- Everything is saved encrypted
- Decryption only happens on browser

This is a personal project and nothing is collected

Inspiration ....... <a href="https://x0.at" rel="noreferrer">https://x0.at</a> | <a href="https://0bin.net/faq/" rel="noreferrer">https://0bin.net/faq/</a>
Source ........ <a href="https://github.com/fabricionaweb/logs.moe" rel="noreferrer">https://github.com/fabricionaweb/logs.moe</a></code></pre></body>
</html>
