<!DOCTYPE html>
<html>
<head>
<title>logs.moe</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/styles.css" />
</head>
<body><pre>Share encrypted logs without leaving terminal

from file
  <samp>$ curl https://logs.moe -F data=@debug.log</samp>
from stdin
  <samp>$ cat debug.log | curl https://logs.moe -F data=@-</samp>

- Only accepts form-data and field name "data"
- Upload size limited to 20MiB
- Anything is deleted in 7 days
- Everything is saved encrypted
- Decryption only happens on browser

This is a personal project and nothing is collected

Inspiration ......... <a href="https://x0.at" rel="noreferrer">https://x0.at</a> | <a href="https://0bin.net/faq/" rel="noreferrer">https://0bin.net/faq/</a>
Source ........ <a href="https://codeberg.org/fabricionaweb/logs.moe" rel="noreferrer">https://codeberg.org/fabricionaweb/logs.moe</a></pre></body>
</html>
