@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&display=swap");

:root {
  --black: #282935;
  --white: #abb2bf;
  --blue: #61aeee;
  --grey: #5c6370;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--black);
  color: var(--white);
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body,
code,
pre,
samp {
  font: 100 1.3rem/1.5 "JetBrains Mono", monospace;
}

code {
  display: block;
  padding: 1rem;
  overflow-x: auto;
}

samp {
  display: inline-block;
  white-space: pre-line;
  color: var(--grey);
}

a {
  color: var(--blue);
}

img {
  width: 100%;
  max-width: max-content;
}

/* lines count */
pre > ol {
  float: left;
  padding: 1rem;
  opacity: 0.3;
  list-style: none;
  text-align: right;
}

pre > ol li {
  counter-increment: line-number;
}

pre > ol li::before {
  content: counter(line-number);
}

/* throttle loading */
.loading {
  animation: 2.5s step-end fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* overrides to highlight.js */
pre code.hljs {
  padding: 1rem;
  background: transparent;
}

.hljs-emphasis,
.hljs-comment,
.hljs-quote {
  font-style: normal;
}

.hljs-strong {
  font-weight: 400;
}
