:root {
  --base: hsl(232deg, 23%, 18%);
  --subtext0: hsl(227deg, 68%, 88%);
  --overlay0: hsl(230deg, 12%, 49%);
  --mauve: hsl(267deg, 83%, 80%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--base);
  color: var(--subtext0);
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body,
code,
pre,
samp {
  font: 100 0.8125rem/1.25rem "JetBrains Mono", monospace;
}

code,
noscript {
  display: block;
  padding: 1em;
  overflow-x: auto;
}

pre {
  /* to position line numbers */
  position: relative;
}

samp {
  display: inline-block;
  white-space: pre-line;
  color: var(--overlay0);
}

a {
  color: var(--mauve);
  text-decoration: none;
}

img,
video {
  display: block;
  margin: auto;
  width: 100%;
  max-width: fit-content;
}

video {
  max-height: 100vh;
  max-height: 100dvh;
}

/* noscript hides loading */
noscript + pre {
  display: none;
}

/* throttle loading */
.loading {
  animation: 2.5s step-end fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* lines count */
pre > ol {
  float: left;
  padding: 1em 0;
  opacity: 0.3;
  list-style: none;
  text-align: right;
}

pre > ol li {
  padding: 0 1em;
}

pre > ol li::before {
  content: attr(data-ln);
}

/* selected lines */
mark {
  --line-height: 1.25rem;
  position: absolute;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  min-height: var(--line-height);
  transform: translateY(1em); /* padding-top */
  height: calc(var(--height) * var(--line-height));
  top: calc(var(--top) * var(--line-height));
}

/* dragging upload */
.dragging::after {
  content: "";
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
}

/* overrides to highlight.js */
pre code.hljs {
  background: transparent;
}

.hljs-emphasis,
.hljs-comment,
.hljs-quote {
  font-style: normal;
}

.hljs-strong {
  font-weight: 400;
}
